.carousel-item img {
    object-fit: scale-down;
    height: 80vh;
}

.img-thumbnail img {
    height: 10vh;
    width: 10vw;
    min-width: 10vw;
    min-height: 10vh;
    object-fit: cover;
}

#blockContent {
    margin-top: 70px;
}

.my-index-card-img {
    height: 33vh; 
    object-fit: cover;
}

.my-index-card:hover {
    background-color: honeydew;
    color: brown;
}

.my-img-thumbnail {
    background-color:black;
    opacity: 1;
}

.my-img-thumbnail:hover {
    opacity: 0.8;
}