{% extends "base.html" %}

{% block content %}
<section class="jumbotron text-center d-sm-none d-md-block">
        <h3>{{ title }}</h3>
        <p class="lead">{{ description }}</p>
</section>
<div class="row">
        <div class="card col-lg-4 col-md-4 col-sm-12 my-index-card">
                <img class="card-img-top my-index-card-img" src="static/blog.jpg" alt="Blog">
                <div class="card-body">
                        <h5 class="card-title text-center">Blog</h5>
                        <p class="card-text">My blog - mostly rambling with the occasional dose of useful information.
                        </p>
                        <a href="{{ url_for('ui.blog') }}" class="stretched-link"></a>
                </div>
        </div>
        <div class="card col-lg-4 col-md-4 col-sm-12 my-index-card">
                <img class="card-img-top my-index-card-img" src="static/gallery.jpg" alt="Gallery">
                <div class="card-body">
                        <h5 class="card-title text-center">Gallery</h5>
                        <p class="card-text">Do you enjoy photography? Here are some of my favourite photos that I've
                                worked on!</p>
                        <a href="{{ url_for('ui.gallery') }}" class="stretched-link"></a>
                </div>
        </div>
        <div class="card col-lg-4 col-md-4 col-sm-12 my-index-card">
                <img class="card-img-top my-index-card-img" src="static/data.jpg" alt="Data">
                <div class="card-body">
                        <h5 class="card-title text-center">Data</h5>
                        <p class="card-text">Looking for public datasets or APIs? Here you can find some of my curated
                                Datasets and Data APIs.</p>
                        <a href="{{ url_for('ui.data') }}" class="stretched-link"></a>
                </div>
        </div>
</div>
{% endblock content %}